<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	
	
   <extension-point id="treeNodeFactorys" name="Confex TreeNodes Factorys" 
   	schema="schema/treeNodeFactorys.exsd"/>
   <extension-point id="confexMessages" name="Confex Messages"
    schema="schema/confexMessages.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.confex.application.ConfexApplication">
         </run>
      </application>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="confex Perspective"
            class="net.confex.application.Perspective"
            id="net.confex.application.perspective">
      </perspective>
   </extension>
   
<!-- perspectiveExtension
      targetID="org.eclipse.ui.resourcePerspective">
   <view
         id="net.confex.views.SampleView"
         ratio="0.5"
         relationship="right"
         relative="org.eclipse.ui.views.TaskList">
   </view>
</perspectiveExtension -->
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.confex"
            name="Confex">
      </category>

      <view
            category="net.confex"
            name="Confex Navigation"
            allowMultiple="true"
            icon="icons/non_eclipse/confex_nav.gif"
            class="net.confex.views.NavigationView"
            id="net.confex.view.navigationView">
      </view>
      <view
            category="net.confex"
            name="Confex Folder"
            allowMultiple="true"
            icon="icons/eclipse icons/obj16/fldr_obj.gif"
            class="net.confex.views.FolderView"
            id="net.confex.view.folderView">
      </view>
      <view
            category="net.confex"
            name="Browser"
            allowMultiple="true"
            icon="icons/eview16/computer.png"
            class="net.confex.views.WebBrowserView"
            id="net.confex.view.WebBrowserView">
      </view>
      <view
            category="net.confex"
            name="Confex Form"
            allowMultiple="true"
            icon="icons/eview16/report.png"
            class="net.confex.views.CompositeFormView"
            id="net.confex.view.formView">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
         
      <category
            name="Confex"
            id="Confex.category">
      </category>
       <command
            id="net.confex.action.NewConfexFileAction"
            name="New Confex File"/>
      <command
            id="net.confex.action.OpenNavigationViewAction"
            name="Open NavigationView"/>
      <command
            id="net.confex.action.PropertyAction"
            categoryId="Confex.category"
            name="Property"
            description="Set Property"/>
      <command
            id="net.confex.action.OpenSrcEditorsAction"
            categoryId="Confex.category"
            name="OpenSrcEditors"
            description="Open Src Editors"/>
      <command
            categoryId="Confex.category"
            description="Save Confex Docs"
            id="net.confex.action.SaveAction"
            name="Save"/>
      <command
            id="net.confex.action.SaveAsAction"
            categoryId="Confex.category"
            name="SaveAs"
            description="Save As Confex Doc"/>
      <command
            id="net.confex.action.CopyAction"
            categoryId="Confex.category"
            name="Copy"
            description="Copy Clipboard"/>
      <command
            id="net.confex.action.CopyWithoutChildAction"
            categoryId="Confex.category"
            name="Copy without child"
            description="Copy Clipboard without child"/>
      <command
            id="net.confex.action.CutAction"
            categoryId="Confex.category"
            name="Cut"
            description="Cut into Clipboard"/>
      <command
            id="net.confex.action.PasteAction"
            categoryId="Confex.category"
            name="Paste"
            description="Paste Clipboard"/>
      <command
            id="net.confex.action.DeleteAction"
            categoryId="Confex.category"
            name="Delete"
            description="Delete Elements"/>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.confex.application"
            name="Confex Java3D (with groovy)">
         <property
               name="windowImages"
               value="icons/sample.gif">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FF0080">
         </property>
         <property
               name="startupProgressRect"
               value="5,283,403,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,267,445,20">
         </property>
         <property
               name="appName"
               value="Confex Java3D (with groovy)">
         </property>
      </product>
   </extension>
   <extension
         id="confex_all"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.confex.application"
            name="Confex All">
         <property
               name="windowImages"
               value="icons/sample.gif,icons/alt_window_32.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFF00">
         </property>
         <property
               name="startupProgressRect"
               value="5,283,403,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,267,445,20">
         </property>
         <property
               name="appName"
               value="Confex All">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.confex.application"
            name="net.confex.groovy.product">
         <property
               name="windowImages"
               value="icons/sample.gif">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFF00">
         </property>
         <property
               name="startupProgressRect"
               value="5,283,403,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,267,445,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="net.confex.groovy.product">
         </property>
      </product>
   </extension>
   <extension
         id="product2"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.confex.app.application"
            name="net.confex.groovy.product">
         <property
               name="windowImages"
               value="icons/sample.gif">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFF00">
         </property>
         <property
               name="startupProgressRect"
               value="5,283,403,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,267,445,20">
         </property>
         <property
               name="appName"
               value="net.confex.groovy.product">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
</plugin>
