<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="net.confex.treeNodeFactorys">
         <factory
	         class="net.confex.db.ora.NodeFactory">
         </factory>
   </extension>

	<extension point="org.eclipse.ui.popupMenus">
	  <viewerContribution
	      id="net.confex.db.ora.contributions"
	      targetID="net.confex.view.navigationView">
	    <action
           class="net.confex.db.ora.AddOraJdbcTreeNodeAction"
           icon="icons/etool16/database_add.png"
           id="net.confex.db.actions.AddOraJdbcTreeNodeAction"
           label="Oracle Jdbc Connection"
           menubarPath="AddOther/additions"
           />
	  </viewerContribution>
	</extension>

</plugin>
